@import "./reset.css";
@import "./variables.css";
@import "./base.css";
@import "./typography.css";

.ticker-item {
  display: inline-block;
  padding: 0 2rem;
  color: var(--base-white);
  font-weight: 600;
}

/* Fix for header stopping after 100vh */
body, html {
    overflow-x: hidden;
}

.credits {
  position: absolute;
  bottom: calc(var(--spacing-s)*0.5);
  right: calc(var(--spacing-s)*0.5);

  color: var(--base-white);
}

@media (max-width: 380px) {
  .credits {
    font-size: 0.75rem;
  }
}