@import "./reset.css";
@import "./variables.css";
@import "./base.css";
@import "./typography.css";

.ticker-item {
  display: inline-block;
  padding: 0 2rem;
  color: var(--base-white);
  font-weight: 600;
}
