---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import Ticker from '../components/Ticker.astro';

---

<Layout>
<main>
	<Hero>
		
	</Hero>
	<Ticker>

	</Ticker>
	<div id="content">
		<section>
			block1
		</section>
		<section class="typo-xl-fat">
			block2
		</section>
	</div>
</main>
</Layout>
