---
import Layout from "../layouts/Layout.astro"
import Hero from "../components/Hero.astro"
---

<Layout>
    <main>
        <Hero text="Impressum/Datenschutz" height="12rem" blank/>

    <div id="content">

        <section class="section_def impressum">
            <h2 class="typo-48">Impressum</h2>
            <h3 class='typo-36'>Angaben gemäß § 5 TMG</h3>
            <p>
                Astrid Kaeswurm<br />
                Marzoller Weg 21<br/>
                83451 Piding
            </p>

            <h3 class='typo-36'>Kontakt</h3>
            <p>
                Telefon: 0170 3171206 <br/>
                E-Mail: <a href="mailto:bestellung@linedance-buch.de">bestellung@linedance-buch.de</a> <br/>
                Website: <a href="https://www.kaeswurm.de">www.kaeswurm.de</a> <br>
                Website (Buch): <a href="http://www.linedance-buch.de">www.linedance-buch.de</a> <br>
                Website (Trainer): <a href="http://www.linedance-trainer.de">www.linedance-trainer.de</a>
            </p>

            <h3 class='typo-36'>Umsatzsteuer-ID</h3>
            <p>
                Umsatzsteuer-Identifikationsnummer gemäß § 27 a Umsatzsteuergesetz:<br/>
                DE 307917534
            </p>

            <h3 class="typo-36">Redaktionell verantwortlich</h3>
            <p>
                Astrid Kaeswurm<br/>
                Marzoller Weg 21<br/>
                83451 Piding
            </p>

            <h3 class='typo-36'>EU-Streitschlichtung</h3>
            <p>
                Die Europäische Kommission stellt eine Plattform zur Online-Streitbeilegung (OS) bereit: <a href="https://ec.europa.eu/consumers/odr/" target="_blank" rel="noopener noreferrer">https://ec.europa.eu/consumers/odr/</a>.<br/>
                Unsere E-Mail-Adresse finden Sie oben im Impressum.
            </p>


            <h3 class='typo-36'>Verbraucherstreitbeilegung / Universalschlichtungsstelle</h3 >
            <p>
                Wir sind nicht bereit oder verpflichtet, an Streitbeilegungsverfahren vor einer Verbraucherschlichtungsstelle teilzunehmen.
            </p>

            <br><br>
            <hr id="Datenschutz">
            <br><br>

            <h2 class="typo-48">Datenschutzerklärung</h2>
            
            <h3 class="typo-36">1. Datenschutz auf einen Blick</h3>

            <h4 class="typo-24">Allgemeine Hinweise</h4> 
            <p>Die folgenden Hinweise geben einen einfachen Überblick darüber, was mit Ihren personenbezogenen Daten passiert, wenn Sie diese Website besuchen. Personenbezogene Daten sind alle Daten, mit denen Sie persönlich identifiziert werden können.</p>

            <h4 class="typo-24">Datenerfassung auf dieser Website</h4>
            <p>Die Datenverarbeitung auf dieser Website erfolgt durch den Websitebetreiber. Dessen Kontaktdaten können Sie dem Impressum dieser Website entnehmen.</p>

            <h4 class="typo-24">Wie erfassen wir Ihre Daten?</h4>
            <p>
                Da wir keine Analyse-Tools (Tracking) und keine technisch notwendigen Cookies einsetzen, werden Ihre Daten vor allem dadurch erhoben, dass Sie uns diese mitteilen. Hierbei handelt es sich z. B. um Daten, die Sie uns per E-Mail zur Bestellung von Produkten senden.
                Andere Daten werden automatisch beim Besuch der Website durch unsere IT-Systeme erfasst. Das sind vor allem technische Daten (z. B. Internetbrowser, Betriebssystem oder Uhrzeit des Seitenaufrufs). Die Erfassung dieser Daten erfolgt automatisch, sobald Sie diese Website betreten (Server-Log-Dateien).
            </p>


            <h3 class="typo-36">2. Hosting</h3>

            <p>Wir hosten die Inhalte unserer Website bei folgendem Anbieter:</p> <br>

            <p>
                <strong>IONOS SE</strong><br/>
                Elgendorfer Str. 57<br/>
                56410 Montabaur<br/>
                Deutschland
            </p>

            <br>

            <p>Der Provider erhebt und speichert automatisch Informationen in Server-Log-Dateien, die Ihr Browser automatisch an uns übermittelt. Dies sind:</p> <br>
            <ul>
                <li>Browsertyp und Browserversion</li>
                <li>Verwendetes Betriebssystem</li>
                <li>Referrer URL (die zuvor besuchte Seite)</li>
                <li>Hostname des zugreifenden Rechners</li>
                <li>Uhrzeit der Serveranfrage</li>
                <li>IP-Adresse</li>
            </ul>

            <p>Eine Zusammenführung dieser Daten mit anderen Datenquellen wird nicht vorgenommen. Die Erfassung dieser Daten erfolgt auf Grundlage von Art. 6 Abs. 1 lit. f DSGVO. Der Websitebetreiber hat ein berechtigtes Interesse an der technisch fehlerfreien Darstellung und der Optimierung seiner Website – hierzu müssen die Server-Log-Files erfasst werden.</p>

            <h3 class="typo-36">3. Allgemeine Hinweise und Pflichtinformationen</h3>

            <h4 class="typo-24">Verantwortliche Stelle</h4>
            <p>Die verantwortliche Stelle für die Datenverarbeitung auf dieser Website ist:</p>

            <p>
                Astrid Kaeswurm<br/>
                Marzoller Weg 21<br/>
                83451 Piding<br/><br/>
                Telefon: 0170 3171206<br/>
                E-Mail: <a href="mailto:bestellung@linedance-buch.de">bestellung@linedance-buch.de</a>
            </p>

            <h4 class="typo-24">Widerruf Ihrer Einwilligung zur Datenverarbeitung</h4>
            <p>Viele Datenverarbeitungsvorgänge sind nur mit Ihrer ausdrücklichen Einwilligung möglich. Sie können eine bereits erteilte Einwilligung jederzeit widerrufen. Die Rechtmäßigkeit der bis zum Widerruf erfolgten Datenverarbeitung bleibt vom Widerruf unberührt.</p>

            <h4 class="typo-24">Beschwerderecht bei der zuständigen Aufsichtsbehörde</h4>
            <p>Im Falle von Verstößen gegen die DSGVO steht den Betroffenen ein Beschwerderecht bei einer Aufsichtsbehörde zu.</p>

            <h4 class="typo-24">SSL- bzw. TLS-Verschlüsselung</h4>
            <p>Diese Seite nutzt aus Sicherheitsgründen und zum Schutz der Übertragung vertraulicher Inhalte eine SSL- bzw. TLS-Verschlüsselung.</p>

            <h3 class="typo-36">4. Datenerfassung und Bestellungen</h3>

            <h4 class="typo-24">Bestellungen per E-Mail / Kontakt</h4>
            <p>Wenn Sie uns per E-Mail kontaktieren oder eine Bestellung aufgeben, werden Ihre Angaben inklusive der von Ihnen dort angegebenen Kontaktdaten zwecks Bearbeitung der Anfrage und für den Fall von Anschlussfragen bei uns gespeichert. Diese Daten geben wir nicht ohne Ihre Einwilligung weiter.</p>
            <p>Die Verarbeitung dieser Daten erfolgt auf Grundlage von Art. 6 Abs. 1 lit. b DSGVO, sofern Ihre Anfrage mit der Erfüllung eines Vertrags zusammenhängt oder zur Durchführung vorvertraglicher Maßnahmen erforderlich ist (z. B. Kaufanfragen).</p>
            <p>Die von Ihnen an uns per Kontaktanfragen übersandten Daten verbleiben bei uns, bis Sie uns zur Löschung auffordern, Ihre Einwilligung zur Speicherung widerrufen oder der Zweck für die Datenspeicherung entfällt (z. B. nach abgeschlossener Bearbeitung Ihres Anliegens). Zwingende gesetzliche Bestimmungen – insbesondere gesetzliche Aufbewahrungsfristen für steuerliche Zwecke (10 Jahre bei Rechnungen) – bleiben unberührt.</p>

            <h3 class="typo-36">5. Soziale Medien</h3>
            <p>Auf unserer Website sind Links zu sozialen Netzwerken (Facebook, Instagram, YouTube) eingebunden. Es handelt sich hierbei <strong>nicht</strong> um Social-Plugins (wie "Like-Buttons"), die bereits beim Laden der Seite Daten an die Anbieter übertragen.</p>
            <p>Erst wenn Sie aktiv auf den entsprechenden Link oder das Icon klicken, werden Sie zur Seite des jeweiligen Anbieters weitergeleitet. Erst dann werden Daten (z. B. Ihre IP-Adresse und die Seite, von der Sie kommen) an den jeweiligen Anbieter übertragen.</p>


            <h3 class="typo-36">6. Bildmaterial</h3>
            <p>Auf unserer Website werden Fotos von Personen veröffentlicht. Dies geschieht auf Grundlage einer Einwilligung der abgebildeten Personen (Art. 6 Abs. 1 lit. a DSGVO) oder vertraglicher Vereinbarungen. Die Einwilligung kann jederzeit mit Wirkung für die Zukunft widerrufen werden.</p>

            <h3 class="typo-36">7. Betroffenenrechte</h3>
            <p>Sie haben im Rahmen der geltenden gesetzlichen Bestimmungen jederzeit das Recht auf unentgeltliche Auskunft über Ihre gespeicherten personenbezogenen Daten sowie ein Recht auf Berichtigung, Löschung oder Einschränkung der Verarbeitung dieser Daten. Darüber hinaus haben Sie das Recht auf Datenübertragbarkeit.</p>
            <p>Sofern die Verarbeitung Ihrer personenbezogenen Daten auf Grundlage von Art. 6 Abs. 1 lit. f DSGVO erfolgt, haben Sie gemäß Art. 21 DSGVO das Recht, aus Gründen, die sich aus Ihrer besonderen Situation ergeben, jederzeit Widerspruch gegen diese Verarbeitung einzulegen.</p>
            <p>Sie können eine erteilte Einwilligung zur Verarbeitung personenbezogener Daten jederzeit mit Wirkung für die Zukunft widerrufen. Hierzu sowie zu weiteren Fragen zum Thema Datenschutz können Sie sich jederzeit unter der im Impressum angegebenen Adresse an uns wenden.</p>
            
            <br><br>
            <hr id="Copyright">
            <br><br>

            <h2 class="typo-48">Copyright</h2>
            <p>Bilder auf dieser Seite, dessen Urheberrecht bei einer anderen Person liegt, sind in jedem Bild dementsprechend markiert. Alle unmarkierten Bilder gehören Astrid Kaeswurm selber.</p>

            <h3>Urheber</h3>
            <ul>
                <li>
                    Astrid Kaeswurm
                </li>
                <li>
                    Tristan Schnitzler
                </li>
                <li>
                    Sascha Klahn
                </li>
                <li>
                    Zell-am-See-Kaprun_JOE
                </li>
            </ul>

            <span id="Ende"></span>
        </section>
    </div>
    </main>
</Layout>

<style>

    a {
        text-decoration: underline;
        color: blue;
    }

    h2 {
        margin: var(--spacing-m) 0;
    }

    h3, h4 {
        margin: var(--spacing-s) 0;
    }

    ul {
        list-style-type: disc;
        list-style-position: inside;
    }
</style>