---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import Ticker from '../components/Ticker.astro';

---

<Layout>
<main>
	<Hero>
		
	</Hero>
	<Ticker>

	</Ticker>
	<div id="content">
		<section>
			Ich bin Cheesy, neugierig, offen und voller Leidenschaft für Musik und Tanz. Wenn Musik meine Stimmung hebt, wird sie zur Bewegung, zum Ausdruck und zum puren Lebensgefühl. Diese Freude am Line Dance möchte ich teilen - mit Menschen, die bereit sind, Neues zu entdecken und gemeinsam die Energie der Musik zu erleben.
		</section>
		<section class="typo-exp">
			Datenschutz
		</section>
		<section class="typo-con-slim">
			Ausbildung
		</section>
		<section class="typo-24">
			Typo 24
		</section>
		<section class="typo-36">
			Typo 36
		</section>
		<section class="typo-48">
			Typo 48
		</section>
		<section class="typo-xl-fat">
			Xl Fat
		</section>
		<section class="typo-xl-slim">
			Xl Slim
		</section>
	</div>
</main>
</Layout>
