---
import { Image } from 'astro:assets';
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import Ticker from "../components/Ticker.astro";
import MailSection from '../components/MailSection.astro';

const ticker = [
    "Lerne die neuesten Choreografien mit Astrid Kaeswurm",
    "Mehr erfahren & buchen",
    "Kurse, Workshops & Veranstaltungen",
    "Lerne die neuesten Choreografien mit Astrid Kaeswurm",
    "Mehr erfahren & buchen",
    "Kurse, Workshops & Veranstaltungen"
]

import img_hero from "../../public/img/kurse/hero.webp";

import gal1 from "../../public/img/kurse/img1.webp";
import gal2 from "../../public/img/kurse/img2.webp";
import gal3 from "../../public/img/kurse/img3.webp";
import gal4 from "../../public/img/kurse/img4.webp";
import gal5 from "../../public/img/kurse/img5.webp";
import gal6 from "../../public/img/kurse/img6.webp";
import gal7 from "../../public/img/kurse/img7.webp";

---

<Layout>
    <main>
        <div class="desktop">
            <Hero img={img_hero} text="Kurse" credits="Tristan Schnitzler" position="30% 30%" height="45rem" />
        </div>
        <div class="mobile">
            <Hero img={img_hero} text="Kurse" credits="Tristan Schnitzler" position="48% 35%"  height="17rem" />
        </div>
        <Ticker ticker={ticker} />
        
    <div id="content">

        <section class="quote-container section_def">
            <div class="quote">
                <div>
                    <div><img src="/img/astrid-mic.webp" alt="Astrid, die ein Mikrofon hält"></div>
                    <div>
                        <p style="font-weight: 600;">Astrid Kaeswurm</p>
                        <p class="gray">Tänzerin, Trainerin und Autorin im Bereich Line Dance</p>
                    </div>
                    <img class="quote-icon" src="/svg/quote.svg" alt="Quote Icon" width="48px" height="32px">
                </div>
                <p>Die Anmeldung sowie weitere Informationen erhältst du ganz einfach per E-Mail (siehe unten).<br>Ich freue mich, von dir zu hören!</p>
            </div>
        </section>

        <section class="section_def termine" id="Termine">
            <h2 class="desktop typo-36">Termine & Kurse Line Dance 2026</h2>
            <h2 class="mobile typo-36">Termine 2026</h2>




            <h3 class="typo-24">Regelmäßige Kurse:</h3>




            <details>
                <summary>
                    <div>
                        <p>Line Dance in Piding, DE</p>
                        <img src="/svg/fold.svg" alt="Fold Section">
                    </div>
                    <hr>
                </summary>
                <ul class="information">
                    <li>10er-Block <span>100€</span></li>
                    <li>5er-Block <span>60€</span></li>
                    <li>Schnuppertraining <span>5€</span></li>
                    <li><span>Leitung</span>: Astrid „Cheesy“ Kaeswurm</li>
                    <li><span>Wann</span>: Montags von 18:30 Uhr bis 20:00 Uhr</li>
                    <li><span>Ort</span>: <a href="https://www.google.com/maps/place/Reichenhaller+Str.+15,+83451+Piding/@47.75498,12.8961997,17z" target="_blank" rel="noopener noreferrer">Reichenhaller Str. 15, 83451 Piding</a></li>
                </ul>
            </details>

            <details>
                <summary>
                    <div>
                        <p>Line Dance im TSC Dance & Lifestyle in Salzburg, AT</p>
                        <img src="/svg/fold.svg" alt="Fold Section">
                    </div>
                    <hr>
                </summary>
                <ul class="information">
                    <li><span>Termin</span>: Dienstags, 18:00–21:00 Uhr</li>
                    <li><span>Ort</span>: TSC Dance & Lifestyle</li>
                    <li><span>Adresse</span>: <a href="https://www.google.com/maps/place/Wiener+Bundesstra%C3%9Fe+15,+5300+Esch,+%C3%96sterreich/@47.8324707,13.0834421,17z" target="_blank" rel="noopener noreferrer">Wiener Bundesstraße 15, 5300 Hallwang bei Salzburg</a></li>
                </ul>
            </details>




            <h3 class="typo-24">Einzelveranstaltungen & Workshops</h3>




            <details>
                <summary>
                    <div>
                        <p>Workshop bei den Saloon Sweepers in Velburg, DE</p>
                        <img src="/svg/fold.svg" alt="Fold Section">
                    </div>
                    <hr>
                </summary>
                <ul class="information">
                    <li><span>Termin</span>: Freitag 27.03. – Samstag 28.03.26</li>
                    <li><span>Ort</span>: Gasthaus Zur Adelburg, Zur Adelburg 4, 92355 Velburg/Hollerstetten</li>
                    <li>Workshops mit Cheesy & Kerstin  </li>
                    <li>Anmeldung , Info & Zeitplan: <a href="mailto:event@saloon-sweepers.de">event@saloon-sweepers.de</a></li>
                </ul>
            </details>

            <details>
                <summary>
                    <div>
                        <p>T-T-T-T - Tanz-Trainer-Tratsch-Treff in Piding, DE</p>
                        <img src="/svg/fold.svg" alt="Fold Section">
                    </div>
                    <hr>
                </summary>
                <ul class="information">
                    <li><span>Termin</span>: Freitag, 1. Mai ab 10:00 Uhr</li>
                    <li><span>Ort</span>: Neubichler Alm, Piding</li>
                    <li>Inhalt: Austausch & Treffen für Tanz-Trainer:innen</li>
                    <li><a href="https://www.facebook.com/events/3857535167793559" target="_blank" rel="noopener noreferrer">Facebook Informationen</a></li>
                </ul>
            </details>

            <details>
                <summary>
                    <div>
                        <p>Internationaler Line Dance Flashmob 2026 in Piding, DE</p>
                        <img src="/svg/fold.svg" alt="Fold Section">
                    </div>
                    <hr>
                </summary>
                <ul class="information">
                    <li><span>Termin</span>: Samstag 02. Mai um 18:00 Uhr</li>
                    <li><span>Ort</span>: Neubichler Alm, Piding</li>
                    <li><a href="https://www.facebook.com/events/665130752817202" target="_blank" rel="noopener noreferrer">Facebook Informationen</a></li>
                </ul>
            </details>

            <details>
                <summary>
                    <div>
                        <p>Line Dance Ferien & Festival in Oberstaufen, DE</p>
                        <img src="/svg/fold.svg" alt="Fold Section">
                    </div>
                    <hr>
                </summary>
                <ul class="information">
                    <li><span>Termin</span>: Sonntag 17. Mai – Sonntag 24. Mai 2026</li>
                    <li><span>Ort</span>: Kurhaus Oberstaufen, Argenstraße 3, 87534 Oberstaufen</li>
                    <li>Anmeldung, Info & Zeitplan: <a href="https://www.perfects-events.ch/" target="_blank" rel="noopener noreferrer">Event-Link</a></li>
                </ul>
            </details>

            <details>
                <summary>
                    <div>
                        <p>Line Dance AlpFestival in Zell am See-Kaprun, AT</p>
                        <img src="/svg/fold.svg" alt="Fold Section">
                    </div>
                    <hr>
                </summary>
                <ul class="information">
                    <li><span>Termin</span>: Donnerstag, 18. Juni – Sonntag, 21. Juni 2026</li>
                    <li><span>Ort</span>: Festival-Gelände am Parkplatz Maiskogel, 5710 Kaprun </li>
                    <li>Anmeldung, Info & Zeitplan: <a href="https://www.zellamsee-kaprun.com/de/event/line-dance-alpfestival-2026~10698" target="_blank" rel="noopener noreferrer">Event-Link</a></li>
                </ul>
            </details>

        </section>

        <section class="section_def gallery">
            <h2 class="typo-36">Unsere Line Dance Stunden - Sei dabei!</h2>
            <p class="gray">Werde Teil unserer Tanz-Community und erlebe Line Dance live!<br>Egal ob Anfänger oder Fortgeschritten - wir freuen uns auf dich und deine Moves.</p>
        </section>

        <div class="section_def gallery-scroll">
            <div>
                <img src="/img/kurse/gallery.svg" alt="Images of Line Dance Participants">
                <img class="mobile" src="/img/kurse/gallery.svg" alt="Images of Line Dance Participants">
                
            </div>
        </div>

        <MailSection href="mailto:astrid@kaeswurm.de?subject=Kurse">
            Jetzt schreiben
        </MailSection>

    </div>
        
    </main>
</Layout>



<style>

    .quote-container {
        display: flex;
        justify-content: center;
    }

    .quote {
        background-color: var(--base-white);
        border-radius: var(--spacing-s);
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
        padding: var(--spacing-m);
        max-width: 55rem;


        display: flex;
        flex-direction: column;
        gap: var(--spacing-s);
        

        & > div {
            display: flex;
            gap: var(--spacing-s);

            & > div:first-child {
                width: 3rem;
                min-width: 3rem;
                height: 3rem;
                overflow: hidden;
                border-radius: 0.8rem;

                img {
                    object-fit: cover;
                    object-position: center;
                }
            }

            & img:last-child {
                margin-left: auto;
            }
        }

    }

    .termine {
        display: flex;
        flex-direction: column;

        h2, h3 {
            margin: var(--spacing-m) var(--spacing-s);
        }

        details {
            background-color: var(--kw-red-l2);
            border-radius: var(--spacing-s);
            margin: calc(var(--spacing-s)*0.1);
            

            cursor: pointer;

            & > ul {
                padding: var(--spacing-s) var(--spacing-m);
                padding-top: 0;
            }

            ul {
                display: flex;
                flex-direction: column;
                gap: calc(var(--spacing-s)*0.1);
                list-style-type: disc;
                list-style-position: inside;
                
                
            }

            span {
                font-weight: 600;
            }

            a {
                text-decoration: underline;
                color: blue;

            }
        }

        .information {

            & li ul {
                margin-left: var(--spacing-m);
            }
        }

        summary {
            font-weight: 600;
            list-style: none;
            width: 100%;
            height: 100%;

            padding: var(--spacing-s) var(--spacing-m);

            div {
                display: flex;
                justify-content: space-between;
            }

            hr {
                color: var(--base-white);
                margin-top: calc(var(--spacing-s)*0.5);
                
            }

        }

    }

    .gallery {
        display: flex;
        flex-direction: column;
        gap: var(--spacing-m);

    }

    @media (max-width: 730px) {

        .mobile {
            display: block;
        }

        .desktop {
            display: none;
        }

        .gallery-scroll {
            overflow: hidden;
            width: 100%;
            white-space: nowrap;
            position: relative;

            & > div {
                display: flex;
                width: max-content;
                animation: scroll 20s linear infinite;
                gap: var(--spacing-m);
                will-change: transform;
                height: 34rem;
            }
        }
    }

    @keyframes scroll {
        0% {
            transform: translateX(0);
        }
        100% {
            transform: translateX(-51%);
        }
    }

    @media (max-width: 640px) {
        .quote-icon {
            display: none;
        }

        .quote {
            padding: var(--spacing-s)
        }


    }
</style>