---
const { href = "#" } = Astro.props;
---

<a class="button" href={href}>
    <slot />
</a>

<style>
    .button {
        display: inline-flex;   
        align-items: center;
        justify-content: center;
        padding: 0.8rem 1.6rem;
        background: var(--kw-red2);
        color: var(--base-white);
        cursor: pointer;
        transition: background 0.2s;

        font-size: 1.125rem;
        font-weight: 400;
        letter-spacing: -0.06em;
        font-stretch: expanded;

        border-radius: 0.8rem;

        max-width: fit-content;
                
    }

    .button:hover {
        background: var(--kw-green2);
    }
</style>
