---

---

<footer>
    <div class="footer-top">
        <p class="slogan typo-xl-fat">LineUp<br>by<br>Cheesy</p>
        <div class="logo">
            <div class="circle" />
            <img src="/svg/logo.svg" alt="Astrid Kaeswum Logo">
        </div>
        <div class="information typo-exp desktop">
            <div>
                <h4 class="typo-con-slim">Kontakt</h4>
                <h5>Email:</h5>
                <p><a href="mailto:astrid@kaeswurm.de">astrid@kaeswurm.de</a></p>
                <h5>Instagram:</h5>
                <p><a href="https://www.instagram.com/astrid_kaeswurm" target="_blank" rel="noopener noreferrer">@astrid_kaeswurm</a></p>
                <h5>Facebook:</h5>
                <p><a href="https://www.facebook.com/LD.Cheesy" target="_blank" rel="noopener noreferrer">Astrid Kaeswurm</a></p>
            </div>
            <div>
                <h4 class="typo-con-slim">Adresse</h4>
                <h5></h5>
                <p>Marzoller Weg 21</p>
                <p>83451 Piding</p>
                <br>
                <h5>Telefon:</h5>
                <p><a href="tel:01703171206">0170 3171206</a></p>
            </div>
            
        </div>
        <div class="information-mobile mobile">
            <h4 class="typo-con-slim">Kontakt</h4>
            <p>Marzoller Weg 21</p>
            <p>83451 Piding</p>
            <p>Tel.: <a href="tel:01703171206">0170 3171206</a></p>
            <p>Email: <a href="mailto:astrid@kaeswurm.de">astrid@kaeswurm.de</a></p>
        </div>
    </div>
    <hr>
    <div class="footer-bottom">
        <p class="typo-exp desktop">© {new Date().getFullYear()} Astrid Kaeswurm – alle Rechte vorbehalten.</p>
        <a class="social-icons" href="https://www.instagram.com/astrid_kaeswurm" target="_blank" rel="noopener noreferrer">
            <img src="/svg/instagram.svg" alt="Instagram Logo">
        </a>
        <a class="social-icons" href="https://www.facebook.com/LD.Cheesy" target="_blank" rel="noopener noreferrer">
            <img src="/svg/facebook.svg" alt="Facebook Logo">
        </a>
        <div class="typo-exp">
            <a href="/impressum">Datenschutz</a>
            <a href="/impressum">Impressum</a>
        </div>
    </div>
    <p class="copy-mobile typo-exp mobile">© {new Date().getFullYear()} Astrid Kaeswurm – alle Rechte vorbehalten.</p>
    <img class="shape desktop" src="/svg/footer-desktop-shape.svg" alt="">
    <img class="shape-mobile mobile" src="/svg/footer-mobile-shape.svg" alt="">
    
</footer>


<style>
    .mobile {
        display: none;
    }

    .desktop {
        display: block;
    }

    footer {
        position: relative;
        z-index: 2;
    }

    .footer-top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: var(--spacing-l);
        height: 24rem;

        .slogan {
            position: relative;
            z-index: 1;
        }

    }

    .footer-top, .footer-bottom {
        padding: var(--spacing-s) var(--spacing-m);
        padding-bottom: var(--spacing-m);
    }

    .logo {
        width: 6.75rem;
        position: relative;
        display: flex;
        justify-content: center;
        margin-left: auto;

        .circle {
            position: absolute;
            transform: translate(0%, -30%);

            background-color: var(--kw-red);
            height: 12rem;
            width: 12rem;
            border-radius: 50%;


        }

        img {
            position: relative;
            z-index: 1;
        }
    }

    .information {
        position: relative;
        z-index: 1;

        color: var(--base-white);

        display: flex;
        gap: var(--spacing-l);

        a {
            text-decoration: underline;
        }

        p, h5 {
            font-size: 1.125rem;
            font-weight: 400;
        }

        h5 {
            padding-top: calc(var(--spacing-s)/2);
        }

        h4 {
            font-weight: 600;
            padding-bottom: var(--spacing-s);
        }
    }

    .shape  {
        position: absolute;
        bottom: 0;
        right: 0;
        z-index: 0;
    }
    
    .footer-bottom {
        position: relative;
        z-index: 1;
               
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: var(--spacing-m);

        div:last-child {
            color: var(--base-white);

            display: flex;
            gap: var(--spacing-m);
            padding-left: var(--spacing-m);
        }

        .social-icons:nth-child(2) {
            margin-left: auto;
            
        }
    }

    /* Slim View */

    @media (max-width: 1089px) {
        .information {
            gap: var(--spacing-s);
            padding-top: calc(var(--spacing-xl)*1);

            h4, h5, p {
                font-size: 1rem;
            }
        }

        h4, {
            font-size: 1rem;
        }


        .footer-top {
            padding: var(--spacing-s);
            gap: calc(var(--spacing-m)*1.5);

        }

        .social-icons {
            display: none;
        }

        .shape {
            height: 100%;
            width: 45%;
        }

        .logo {
            width: 5rem;
            .circle {
                height: 9rem;
                width: 9rem;
            }
        }

    }

    /* Mobile Views */

    @media (max-width: 899px) {
        .mobile, .social-icons {
            display: block;
        }

        .desktop {
            display: none;
        }

        .shape-mobile {
            position: absolute;
            z-index: -1;
            bottom: 0;

            height: 22rem;
            width: 100%;
        }

        .footer-top {
            flex-direction: column;
            align-items: start;
            justify-content: space-between;
            height: 26rem;

            position: relative;

            .information-mobile {
                
                a {
                    text-decoration: underline;
                }

                * {
                    color: var(--base-white);
                }

                h4 {
                    font-weight: 600;
                }
            }
        }

        .slogan {
            font-size: 4rem;
            user-select: none;  
        }

        .logo {
            position: absolute;
            right: 2rem;
            bottom: 4rem;
        }

        .footer-bottom {

            padding: var(--spacing-s);

            div:last-child {
                font-size: 1rem;
                gap: var(--spacing-s);
                padding-left: 0;
                margin-left: auto;
            }

            .social-icons:nth-child(2) {
                margin-left: 0;
            }
        }

        .copy-mobile {
            color: var(--base-white);
            padding: 0 0 var(--spacing-s) var(--spacing-s);
            font-size: 1rem;
            font-stretch: condensed;
            letter-spacing: -0.005em;
        }

        hr {
            color: var(--base-white);
        }
    }

    @media (max-width: 340px) {

        .footer-bottom :last-child {
            font-stretch: condensed;
            letter-spacing: -0.005em;
        }

        .footer-bottom, .footer-top, .copy-mobile {
            padding-left: 0.25rem;
            padding-right: 0.25rem;
        }

    }

</style>