---
import { Image } from 'astro:assets';
import heroImg from '../../public/img/home/hero.webp';

const { img = heroImg, text = 'Line Dance', textWidth = '60rem' } = Astro.props;
---
<section id="hero">
    <Image src={img} alt="Hero Image" />
    <div class="gradient" />
    <h1 class="typo-xl-slim" style={`--textWidth: ${textWidth}`}>{text}</h1>
    <slot />
</section>


<style>

    #hero {
        position: relative;
        z-index: -1000;
        
        overflow: hidden;
        min-height: 32rem;

        padding: 2.25rem 1.75rem;

        user-select: none;  

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: var(--spacing-m);
    }

    img {
        position: absolute;
        z-index: -2;
        width: 100%;
        height: 100%;
        object-fit: cover; 

        top: 0;
        left: 0;
    }

    .gradient {
        position: absolute;
        background-image: linear-gradient(to bottom right, #00000048, #ffffff00);
        height: 100%;
        width: 100%;
        object-fit: cover;
        z-index: -1;
        top: 0;
        left: 0;
    }

    h1 {
        max-width: var(--textWidth, 60rem);
        color: var(--base-white);
    }


    @media (max-width: 610px) {
        #hero {
            justify-content: space-between;
        }
    }

    /* Font Size Scaling */

    @media (max-width: 610px) {
        .typo-xl-fat, .typo-xl-slim {
            font-size: 6rem !important;
        }
    }


    @media (max-width: 499px) {
        .typo-xl-fat, .typo-xl-slim {
            font-size: 4rem !important;
        }
    }

</style>