---
import { Image } from "astro:assets";

import Button from "./Button.astro";

import img from "../../public/img/astrid-haare.webp"
---

<section class="section_def mail">
    <div><Image src={img} alt="Astrid waving her hair" width={300}/></div>
    <div>
        <p class="typo-24">Melde dich bei mir!</p>
        <Button><slot /></Button>
    </div>
</section>


<style>
    .mail {
        display: flex;
        align-items: center;
        gap: var(--spacing-m);

        img {
            border-radius: var(--spacing-s);
        }

        & > div:last-child {
            display: flex;
            flex-direction: column;
            gap: var(--spacing-m);
        }
    }
</style>