---
import { Image } from "astro:assets";

import Button from "./Button.astro";

import img from "../../public/img/astrid-haare.webp"

const { href = "mailto:astrid@kaeswurm.de" } = Astro.props;
---

<section class="section_def mail">
    <div><Image src={img} alt="Astrid waving her hair" width={300}/></div>
    <div>
        <p class="typo-24">Melde dich bei mir!</p>
        <Button href={href}><slot /></Button>
    </div>
</section>


<style>
    .mail {
        display: flex;
        align-items: center;
        gap: var(--spacing-m);

        img {
            border-radius: var(--spacing-s);
            object-fit: cover;
        }

        & > div:last-child {
            display: flex;
            flex-direction: column;
            gap: var(--spacing-m);
        }
    }

    @media (max-width: 560px) {
        .mail {
            flex-direction: column;
            padding: var(--spacing-m);

            & > div:last-child {
                align-items: center;
            }
        }
    }
</style>