---
const { color = 'var(--kw-red)', ticker = [], speed = '40s' } = Astro.props;
---

<section id="ticker" style={`--color: ${color}`} >
    <div class="ticker-container" style={`--speed: ${speed}`}>

    </div>
</section>

<style>

#ticker {
  height: 3rem;
  background-color: var(--color);
  display: flex;
  align-items: center;
  
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
}

.ticker-container {
  display: inline-block;
  user-select: none;
  
  animation: ticker var(--speed) linear infinite; 
}

@keyframes ticker {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); } 
}

</style>

<script define:vars={{ ticker }}>

const tickerList = document.querySelector('.ticker-container');

ticker.forEach((text) => {
  const item = document.createElement('div');
  item.classList.add('ticker-item');
  item.textContent = text;
  tickerList.appendChild(item);
});

tickerList.innerHTML += tickerList.innerHTML;

</script>
